<!-- 
 

-->


<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <div class="container-fluid">
    

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <a class="navbar-brand mt-2 mt-lg-0" href="#" onclick="location.reload();">
        GymElite
      </a>

      <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarCenteredExample"
    >
    
      <!-- Left links -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <button class="nav-link active" aria-current="page" (click)="goToHome()" >Home</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" (click)="goToActivities()">Activities</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" (click)="goToSign()">Login</button>
        </li>
        
        
      </ul>
      <!-- Left links -->
    </div>
      
    </div>
    
    

    

    
  </div>


</nav>


