
  <div class="carousel slide" id="diaporama" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://th.bing.com/th/id/R.c30cd0b37c6ffcd5c23ad993ec97d13f?rik=yXI7mDniC0VpSA&pid=ImgRaw&r=0" class="d-block w-100" alt="First slide">
      </div>
      <div class="carousel-item">
        <img src="https://th.bing.com/th/id/R.c30cd0b37c6ffcd5c23ad993ec97d13f?rik=yXI7mDniC0VpSA&pid=ImgRaw&r=0" class="d-block w-100" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img src="https://th.bing.com/th/id/R.c30cd0b37c6ffcd5c23ad993ec97d13f?rik=yXI7mDniC0VpSA&pid=ImgRaw&r=0" class="d-block w-100" alt="Third slide">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#diaporama" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#diaporama" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>





<div>

  <section  class="description">
    <section class="py-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="text-center">
              <span class="text-muted">Notre Histoire</span>
              <h2 class="display-5 fw-bold">À Propos de Nous</h2>
              <p class="lead">Bienvenue à GymElite, votre destination ultime pour atteindre vos objectifs de fitness. Nous sommes une salle de sport moderne équipée des installations les plus récentes et des équipements de pointe pour vous offrir une expérience d'entraînement inégalée. Que vous soyez un débutant ou un athlète chevronné, notre équipe de professionnels qualifiés est là pour vous guider et vous motiver à chaque étape de votre parcours. Chez GymElite, nous croyons en l'importance d'un mode de vie sain et actif, et nous nous engageons à créer un environnement accueillant et inclusif pour tous nos membres. Rejoignez-nous dès aujourd'hui et commencez votre transformation vers une meilleure version de vous-même.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>





<br>
<app-team></app-team>
<br>
<app-praicing></app-praicing>
<br>
<br>