
<div id="praicing">

  <div class="container-fluid">
  <div class="container p-5">
    <div class="text-center">
    <h1 >Get your full fitness package!</h1>
    
    <samp >For a limited time only, get our full fitness package at 30% OFF.</samp>
    <br>

  </div>
  <br>
  <br>

    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card card1 h-100">
          <div class="card-body">
           
            <h5 class="card-title">Monthly</h5>
            <small class='text-muted'>per month</small>
            <br><br>
            <span class="h2">50</span>DT
            <br><br>
            <div class="d-grid my-3">
              <button class="btn btn-outline-dark btn-light">Select</button>
            </div>
            <ul>
              <li>24/7 access to sports equipment</li>
              
            </ul>
          </div>

          
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card card2 h-100">
          <div class="card-body">
           
            <h5 class="card-title">Semester</h5>
            <small class='text-muted'>per semester</small>
            <br><br>
            <span class="h2">240</span>DT
            <br><br>
            <div class="d-grid my-3">
              <button class="btn btn-outline-dark btn-light">Select</button>
            </div>
            <ul>
              <li>Unlimited access to all activities</li>
              <li>Free diet and meal plans</li>
              <li>24/7 access to sports equipment</li>
              
            </ul>
          </div>

          
        </div>
      </div>
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card card3 h-100">
          <div class="card-body">
           
            <h5 class="card-title">Annual</h5>
            <small class='text-muted'>per year</small>
            <br><br>
            <span class="h2">420</span>DT
            <br><br>
            <div class="d-grid my-3">
              <button class="btn btn-outline-dark btn-light">Select</button>
            </div>
            <ul>
              <li>Unlimited access to all activities</li>
              <li>Free diet and meal plans</li>
              <li>24/7 access to sports equipment</li>
              
            </ul>
          </div>

          
        </div>
      </div>
    </div>    
  </div>

</div>
